{% import 'macros/section.njk' as mSection %}
{% import 'macros/subscribe.njk' as mSubscribe %}
{% import 'macros/unread.njk' as mUnread %}
{% import 'macros/guide.njk' as mGuide %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142187300-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142187300-3');
    </script>
    <!-- Meta tags for better SEO -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free news, updates, projects, tools, explorers on VeChain Blockchain">
    <meta name="author" content="VeChain Community Members">
    <title>VeChain Links - Free news, announcements, posts, projects and code updates</title>

    <!-- rss -->
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for vechainlinks.com" href="rss/" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="img/vechainlinks.logo.only.png">
    <!-- Bootstrap v4 CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/fonts.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet">
    <!-- Custom styles for this tweak -->
    <link href="css/my.css" rel="stylesheet">
  </head>

  <body>
    <div class="container" id="my-body">
      <div id="sticky-header" class="sticky-top bg-white">
        <!-- Navbar -->
        <header class="py-2 border-bottom-light" id="headline-container">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <!-- visible (md and above, occupies 4), (xs to sm, occupies 0) -->
            <div class="d-none d-sm-none d-md-block col-md-4 col-lg-4 pt-1">
            </div>
            <!-- visible (md and above, occupies 4), (xs to sm, occupies 10) -->
            <div class="col-10 d-md-block col-md-4 col-lg-4 text-center">
              <a class="blog-header-logo text-dark d-flex justify-content-center align-items-center" href="#" id="biggest-title">
                <span class="mr-1 d-none d-sm-block d-md-block"><img src="img/vechainlinks.logo.only.png" id="biggest-logo" style="width:34px"></span>
                <span class="ml-1">VeChain<span class="text-muted">Links</span></span>
              </a>
            </div>
            <!-- visible (md and above, occupies 4), (xs to sm, occupies 2) -->
            <div class="col-2 col-md-4 col-lg-4 d-flex justify-content-end align-items-center">
              {{ mUnread.unreadButton("unreadButton", "btn-outline-secondary") }}
            </div>
          </div>
        </header>

        <!-- Category line -->
        <div class="nav-scroller pt-2 mb-2 border-bottom-light" >
          <nav class="nav d-flex justify-content-between" id="category-section">
          {% for key, value in categories %}
          <a class="p-2 text-muted text-capitalize" href="#{{ key }}" id="menu-{{ key }}" onclick="jumpToAnchor(this)">{{ value["display"] }}</a>
          {% endfor %}
          </nav>
        </div>
      </div>

      <!-- Introduction line -->
      <div class="jumbotron p-4 p-md-5 rounded bg-light">
        <div class="col-md-8 px-0">
          <h1 class="display-4 text-black">Welcome to VeChain<span class="text-muted">Links</span>, one website to track 'em all</h1>
          <p class="lead my-3"></p>
          <p class="lead mb-0"><a href="#" class="btn btn-lg btn-outline-secondary font-weight-bold" id="subscribe-big-button"><span class="mr-2">&#9993;</span>Get free newsletters</a></p>
        </div>
      </div>

      <!-- Containers here, each container is a section of cards -->
      {% for categoryKey, categoryValue in categories -%}
      <main role="main" class="container">
        <h3 class="pb-4 mb-4 border-bottom text-capitalize" id="{{categoryKey}}">
            {{categoryValue.display}}
            <a class="my-anchor" href="#{{categoryKey}}" onclick="jumpToAnchor(this)">
                <svg class="hash-link-icon" aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg>
            </a>
        </h3>
        <div class="row mb-2" id="blogs-section">
        {{ mSection.section(items, categoryKey )}}
        </div>
      </main>
      {%- endfor %}
    </div>

    <!-- Guide Modal -->
    {{ mGuide.guideModal("guideModal", "guideCarousel", "guideCarouselNextButton") }}
    <!-- Subscribe Modal -->
    {{ mSubscribe.subscribeModal("emailSubscribeModal", "userEmailInput", "emailSubmitButton", "emailLabel", "emailSentText", "formUserInput", "badMessage", "subscribeFooter") }}
    <!-- To Top Button -->
    <button id="to-top-button" type="button" class="btn btn-outline-secondary rounded-circle p-0 hover-button">&#8593;<br>Top</button>
    <!-- Footer -->
    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <div>
          <img class="mb-2" src="img/vechainlinks.logo.only.png" alt="VeChain Links" height="48">
        </div>
        <div>
          <small class="d-block mb-3 text-muted">&copy; 2020</small>
        </div>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="rss/">RSS Reader</a></li>
          <li><a class="text-muted" href="" id="subscribe-email-link" style="pointer: cursor;">Email Newsletter</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contribute</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/laalaguer/vechainlinks">Github</a></li>
          <li><a class="text-muted" href="mailto:admin@vechainlinks.com">Email Us</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Supporters</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="//github.com/laalaguer/">A Byte Ahead</a></li>
          <li><a class="text-muted" href="//vechain101.com">Ben Yorke</a></li>
          <li><a class="text-muted" href="//github.com/XJWX89">XJWX89</a></li>
          <li><a class="text-muted" href="//github.com/eiTT-01">eiTT-01</a></li>
        </ul>
      </div>
    </div>
    </footer>
  </body>
  <!-- Libraries -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/crypto-js.min.js"></script>
  <script src="js/cookies.min.js"></script>
  <!-- JS -->
  <script src="js/env.js"></script>
  <script src="js/cookie-db.js"></script>
  <script src="js/storage-db.js"></script>
  <script src="js/main.js"></script>
  <script src="js/subscribe.js"></script>
  <script src="js/scroll.js"></script>
</html>