{% macro modal(modalID) %}
<div class="modal fade" id="{{modalID}}" tabindex="-1" role="dialog" aria-labelledby="{{modalID}}" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container my-4">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 col-md-5 my-5">
                    <h2>Stay in the loop,</h2>
                    <p class="font-weight-light" class="my-3">Even on mobile with our <a href="https://vechainlinks.com/rss">[RSS] </a>feed.</p>
                    <button class="btn btn-warning py-3 btn-block" data-dismiss="modal"><strong>Start Browsing</strong></button>
                </div>
                <div class="col-10 col-md-5">
                    <img src="img/mobile.intro.png" class="img-phone-rss">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}