.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-bottom-thick {
    line-height: 1;
    border-bottom: 3px solid #000000;
}

.border-bottom-light {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

@media screen and (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.hover-button {
    display: block;
    /*display: none;  hide display on naturally */
    width:50px;
    height:50px;
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer;
}

/* very small screens */
@media (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 992px) and (max-width: 1200px) {}

@media (min-width: 1200px) and (max-width: 1600px) {
    .hover-button {
        right: 90px;
    }
}

@media (min-width: 1600px) {
    .hover-button {
        right: 320px;
    }
}

.hover-menu {
    display: block;
    /*display: none;  hide display on naturally */
    font-size: 14px;
    position: fixed; /* Fixed/sticky position */
    bottom: 240px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer;
}

/* very small screens */
@media (max-width: 768px) {
    .hover-menu {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .hover-menu {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .hover-menu {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .hover-menu {
        display: none;
        right: 90px;
    }
}

@media (min-width: 1600px) {
    .hover-menu {
        right: 260px;
    }
}


.job-title {
    font-size: small;
    font-weight:300;
}

.small-big-title {
    font-size: 1.5rem;
}

.compact-title-container {
    padding-top: 0;
    padding-bottom: 0;
}

.hidden-footer {
    z-index: 98;
    position: relative;
}

.my-anchor {
    color: grey;
}

.my-anchor:hover {
    color: black;
    cursor: pointer;
}

.no-wrap-too-long {
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap; 
}

.gray-out {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
}

.business-card:hover {
}

.business-card-content:hover {
    cursor: pointer;
}

.introjs-helperLayer {
    background: transparent;
}

.introjs-overlay {
    opacity: 0 !important;
}

/* .introjs-helperLayer:before {
    opacity: 0;
    content: '';
    position: fixed;
    width: inherit;
    height: inherit;
    border-radius: 0.5em;
    box-shadow: 0 0 0 1000em rgba(0,0,0, .7);
    opacity: 1;
}

.introjs-helperLayer:after {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
} */

.img-phone-rss {
    max-width: 350px;
}

/* very small screens */
@media (max-width: 768px) {
    .img-phone-rss {
        max-width: 300px;
    }
}